<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="38daee7c18b9492b95a6cdd25401dad8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_38daee7c18b9492b95a6cdd25401dad8 = echarts.init(
            document.getElementById('38daee7c18b9492b95a6cdd25401dad8'), 'white', {renderer: 'canvas'});
        var option_38daee7c18b9492b95a6cdd25401dad8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u85cf\u54c1\u91cf\uff08\u4e2a/\u5957\uff09",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 2020.88
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 704.28
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 390.91
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 1382.1
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": 912.08
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 523.46
                },
                {
                    "name": "\u5409\u6797",
                    "value": 624.4
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 971.66
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 2010.51
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": 1853.11
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 1353.21
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 787.7
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 670.84
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 444.24
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 3569.65
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 1019.37
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 1694.27
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 617.65
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 1038.58
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 305.27
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 162.53
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 540.01
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 4026.27
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 164.0
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 1412.7
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 67.64
                },
                {
                    "name": "\u9655\u897f",
                    "value": 3810.09
                },
                {
                    "name": "\u7518\u8083",
                    "value": 509.47
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 74.49
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 363.98
                },
                {
                    "name": "\u65b0\u7586",
                    "value": 211.72
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u85cf\u54c1\u91cf\uff08\u4e2a/\u5957\uff09"
            ],
            "selected": {
                "\u85cf\u54c1\u91cf\uff08\u4e2a/\u5957\uff09": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e2d\u56fd\u5404\u5730\u535a\u7269\u9986\u85cf\u54c1\u91cf\u5206\u5e03\u56fe"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 4027,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_38daee7c18b9492b95a6cdd25401dad8.setOption(option_38daee7c18b9492b95a6cdd25401dad8);
    </script>
</body>
</html>
