<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="06a1a1ae9b724949acd43bc2430502d9" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_06a1a1ae9b724949acd43bc2430502d9 = echarts.init(
            document.getElementById('06a1a1ae9b724949acd43bc2430502d9'), 'white', {renderer: 'canvas'});
        var option_06a1a1ae9b724949acd43bc2430502d9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "elasticOut",
    "animationDelay": 1000,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4ece\u4e1a\u4eba\u5458",
            "data": [
                4433.0,
                1473.0,
                4016.0,
                4506.0,
                1782.0,
                1994.0,
                1548.0,
                2691.0,
                3036.0,
                6923.0,
                5724.0,
                2995.0,
                2642.0,
                3418.0,
                8059.0,
                6959.0,
                4032.0,
                3056.0,
                3670.0,
                2255.0,
                526.0,
                2738.0,
                6201.0,
                1636.0,
                1719.0,
                204.0,
                9354.0,
                5017.0,
                366.0,
                812.0,
                1319.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4ece\u4e1a\u4eba\u5458"
            ],
            "selected": {
                "\u4ece\u4e1a\u4eba\u5458": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac\u5e02",
                "\u5929\u6d25\u5e02",
                "\u6cb3\u5317\u7701",
                "\u5c71\u897f\u7701",
                "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                "\u8fbd\u5b81\u7701",
                "\u5409\u6797\u7701",
                "\u9ed1\u9f99\u6c5f\u7701",
                "\u4e0a\u6d77\u5e02",
                "\u6c5f\u82cf\u7701",
                "\u6d59\u6c5f\u7701",
                "\u5b89\u5fbd\u7701",
                "\u798f\u5efa\u7701",
                "\u6c5f\u897f\u7701",
                "\u5c71\u4e1c\u7701",
                "\u6cb3\u5357\u7701",
                "\u6e56\u5317\u7701",
                "\u6e56\u5357\u7701",
                "\u5e7f\u4e1c\u7701",
                "\u5e7f\u897f\u58ee\u65cf\u81ea\u6cbb\u533a",
                "\u6d77\u5357\u7701",
                "\u91cd\u5e86\u5e02",
                "\u56db\u5ddd\u7701",
                "\u8d35\u5dde\u7701",
                "\u4e91\u5357\u7701",
                "\u897f\u85cf\u81ea\u6cbb\u533a",
                "\u9655\u897f\u7701",
                "\u7518\u8083\u7701",
                "\u9752\u6d77\u7701",
                "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a",
                "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2018\u5e74\u5404\u5730\u533a\u4ece\u4e1a\u4eba\u5458\u6570\u91cf\u5bf9\u6bd4"
        }
    ]
};
        chart_06a1a1ae9b724949acd43bc2430502d9.setOption(option_06a1a1ae9b724949acd43bc2430502d9);
    </script>
<br/>                <div id="fc709e991f634431b83002cd2f4b7bad" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_fc709e991f634431b83002cd2f4b7bad = echarts.init(
            document.getElementById('fc709e991f634431b83002cd2f4b7bad'), 'white', {renderer: 'canvas'});
        var option_fc709e991f634431b83002cd2f4b7bad = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u673a\u6784\u6570\uff08\u4e2a\uff09",
            "data": [
                82.0,
                65.0,
                134.0,
                152.0,
                109.0,
                65.0,
                107.0,
                191.0,
                100.0,
                329.0,
                337.0,
                201.0,
                128.0,
                144.0,
                517.0,
                334.0,
                200.0,
                121.0,
                184.0,
                131.0,
                19.0,
                100.0,
                252.0,
                91.0,
                137.0,
                7.0,
                294.0,
                215.0,
                24.0,
                54.0,
                91.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6536\u85cf\u54c1\uff08\u5343\u5957\uff09",
            "data": [
                2020.88,
                704.28,
                390.91,
                1382.1,
                912.08,
                523.46,
                624.4,
                971.66,
                2010.51,
                1853.11,
                1353.21,
                787.7,
                670.84,
                444.24,
                3569.65,
                1019.37,
                1694.27,
                617.65,
                1038.58,
                305.27,
                162.53,
                540.01,
                4026.27,
                164.0,
                1412.7,
                67.64,
                3810.09,
                509.47,
                74.49,
                363.98,
                211.72
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u53c2\u89c2\u8005\uff08\u4e07\u4eba\u6b21\uff09",
            "data": [
                2374.8,
                1400.38,
                3289.21,
                2533.0,
                1176.41,
                1703.35,
                1040.77,
                2144.4,
                2583.8,
                9518.83,
                7005.39,
                3025.65,
                3715.38,
                3696.99,
                7232.62,
                6040.11,
                3922.46,
                5444.09,
                5511.98,
                1753.65,
                234.46,
                3687.1,
                7189.09,
                1973.75,
                2322.63,
                19.97,
                6716.38,
                2915.33,
                188.98,
                724.24,
                679.98
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u4ece\u4e1a\u4eba\u5458\uff08\u4eba\uff09",
            "data": [
                4433.0,
                1473.0,
                4016.0,
                4506.0,
                1782.0,
                1994.0,
                1548.0,
                2691.0,
                3036.0,
                6923.0,
                5724.0,
                2995.0,
                2642.0,
                3418.0,
                8059.0,
                6959.0,
                4032.0,
                3056.0,
                3670.0,
                2255.0,
                526.0,
                2738.0,
                6201.0,
                1636.0,
                1719.0,
                204.0,
                9354.0,
                5017.0,
                366.0,
                812.0,
                1319.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u673a\u6784\u6570\uff08\u4e2a\uff09",
                "\u6536\u85cf\u54c1\uff08\u5343\u5957\uff09",
                "\u53c2\u89c2\u8005\uff08\u4e07\u4eba\u6b21\uff09",
                "\u4ece\u4e1a\u4eba\u5458\uff08\u4eba\uff09"
            ],
            "selected": {
                "\u673a\u6784\u6570\uff08\u4e2a\uff09": true,
                "\u6536\u85cf\u54c1\uff08\u5343\u5957\uff09": true,
                "\u53c2\u89c2\u8005\uff08\u4e07\u4eba\u6b21\uff09": true,
                "\u4ece\u4e1a\u4eba\u5458\uff08\u4eba\uff09": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac\u5e02",
                "\u5929\u6d25\u5e02",
                "\u6cb3\u5317\u7701",
                "\u5c71\u897f\u7701",
                "\u5185\u8499\u53e4\u81ea\u6cbb\u533a",
                "\u8fbd\u5b81\u7701",
                "\u5409\u6797\u7701",
                "\u9ed1\u9f99\u6c5f\u7701",
                "\u4e0a\u6d77\u5e02",
                "\u6c5f\u82cf\u7701",
                "\u6d59\u6c5f\u7701",
                "\u5b89\u5fbd\u7701",
                "\u798f\u5efa\u7701",
                "\u6c5f\u897f\u7701",
                "\u5c71\u4e1c\u7701",
                "\u6cb3\u5357\u7701",
                "\u6e56\u5317\u7701",
                "\u6e56\u5357\u7701",
                "\u5e7f\u4e1c\u7701",
                "\u5e7f\u897f\u58ee\u65cf\u81ea\u6cbb\u533a",
                "\u6d77\u5357\u7701",
                "\u91cd\u5e86\u5e02",
                "\u56db\u5ddd\u7701",
                "\u8d35\u5dde\u7701",
                "\u4e91\u5357\u7701",
                "\u897f\u85cf\u81ea\u6cbb\u533a",
                "\u9655\u897f\u7701",
                "\u7518\u8083\u7701",
                "\u9752\u6d77\u7701",
                "\u5b81\u590f\u56de\u65cf\u81ea\u6cbb\u533a",
                "\u65b0\u7586\u7ef4\u543e\u5c14\u81ea\u6cbb\u533a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u535a\u7269\u9986\u76f8\u5173\u4fe1\u606f\u56fe"
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "show": true,
                "title": "save as image",
                "type": "png"
            },
            "restore": {
                "show": true,
                "title": "restore"
            },
            "dataView": {
                "show": true,
                "title": "data view",
                "readOnly": false
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "data zoom",
                    "back": "data zoom restore"
                }
            }
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false
        }
    ]
};
        chart_fc709e991f634431b83002cd2f4b7bad.setOption(option_fc709e991f634431b83002cd2f4b7bad);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
